
<div id="menu">
	<div id="menu-container">
		<div class="table-row">
			<div id="breakfast" class="cell">
				<%= link_to about_path do %>
					<%= image_tag "cafe-oakville-scrabble-small.jpg", alt: "scrabble" %>
					<div class="menu-title">
						<div class="menu-title-content">
							<h2>About us</h2>
							<p>Learn about the people who call Cafe Oakville home.</p>
						</div>
					</div>
				<% end %>
			</div>
			<div id="lunch" class="cell">
				<%= link_to menu_path do %>
					<%= image_tag "raspberries-white-small.jpg", alt: "coffee" %>
					<div class="menu-title">
						<div class="menu-title-content">
							<h2>Menu</h2>
							<p>Check out the different food and drink we have to offer.</p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="table-row">
			<div id="snacks" class="cell">
				<%= link_to events_path do %>
					<%= image_tag "table-studying-small.jpg", alt: "fall coffee" %>
					<div class="menu-title">
						<div class="menu-title-content">
							<h2>Sign up</h2>
							<p>
								Reserve a spot ahead of time and come study with us!
							</p>
						</div>
					</div>
				<% end %>
			</div>
			<div id="drinks" class="cell">
				<%= link_to "#" do %>
					<%= image_tag "super-smash-donkey-kong-small.jpg", alt: "chess" %>
					<div class="menu-title">
						<div class="menu-title-content">
							<h2>Activities</h2>
							<p>Not in the mood to study? See what else you can do here at Cafe Oakville!</p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>

	<div id="menu-title-oval">
		<div id="oval-content">
			<p>A cafe so friendly,</p>
			<p>it feels like home.</p>
		</div>
	</div>


</div>
