<% provide(:title, 'Menu') %>

<div id="menu">
	<div id="menu-container">
		<div class="table-row">
			<div id="breakfast" class="cell">
				<%= link_to "#" do %>
					<%= image_tag "pancakes.jpg", alt: "pancakes" %>
					<div class="menu-title">
						<div class="menu-title-content">
							<h2>Breakfast</h2>
						</div>
					</div>
				<% end %>
			</div>
			<div id="lunch" class="cell">
				<%= link_to "#" do %>
					<%= image_tag "sandwich.jpg", alt: "sandwich" %>
					<div class="menu-title">
						<div class="menu-title-content">
							<h2>Lunch</h2>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="table-row">
			<div id="snacks" class="cell">
				<%= link_to "#" do %>
					<%= image_tag "red_apples.jpg", alt: "red apples" %>
					<div class="menu-title">
						<div class="menu-title-content">
							<h2>Snacks</h2>
						</div>
					</div>
				<% end %>
			</div>
			<div id="drinks" class="cell">
				<%= link_to "#" do %>
					<%= image_tag "fall-coffee.jpg", alt: "fall coffee" %>
					<div class="menu-title">
						<div class="menu-title-content">
							<h2>Drinks</h2>
						</div>
					</div>
				<% end %>
			</div>
		</div>

	</div>


	<div id="menu-title-oval">
		<div id="oval-content">
			<h2>Cafe Oakville</h2>
			<p>- Menu -</p>
		</div>
	</div>

</div>

