<% provide(:title, 'All events') %>

<% if @user.admin? %>
	<h1>Manage Events</h1>
<% else %>
	<h1>Reserve a spot</h1>
<% end %>

<div class="row">
	<div class="events-content">
		<% @events.each do |event| %>

			<% if !@user.reservations.find_by(event_id: event.id) %>
				<%= form_for @user.reservations.build(event_id: event.id)	do |f| %>
					<%= f.hidden_field :event_id, value: event.id %>
					<%= f.hidden_field :user_id, value: @user.id %>
					<div class="event-line-container">
						<div class="event-row">
							<div class="delete-cell">
								<% if @user.admin? %>
								<%= link_to "delete", event, method: :delete, 
									data: { confirm: "You sure?" }, title: event.day.strftime("%B %-d, %Y") %>
								<% end %>
							</div>
							<div class="date-cell"><%= event.day.strftime("%B %-d, %Y") %></div>
							<div class="button-cell">
								<%= f.submit "Sign up", class: "btn btn-primary" %>
							</div>
							<div class="button-cell"></div>
						</div>
					</div>
				<% end %>

			<% else %>
				<%= form_for @user.reservations.find_by(event_id: event.id),
						html: { method: :delete } do |f| %>
					<%= f.hidden_field :event_id, value: event.id %>
					<%= f.hidden_field :user_id, value: @user.id %>
					<div class="event-line-container">
						<div class="event-row">
							<div class="delete-cell">
								<% if @user.admin? %>
								<%= link_to "delete", event, method: :delete, 
										data: { confirm: "You sure?" }, title: event.day.strftime("%B %-d, %Y") %>
								<% end %>
							</div>
							<div class="date-cell"><%= event.day.strftime("%B %-d, %Y") %></div>
							<div class="button-cell">
								<%= f.submit "Signed up", class: "btn btn-primary disabled" %>
							</div>
							<div class="button-cell"><%= f.submit "Cancel", class: "btn btn-cancel" %></div>
						</div>
					</div>
				<% end %>
			<% end %>


			<ul class="event-user-list">
				<% if !event.users.empty? %>
					<% event.users.each do |u| %>
						<li><%= u.name %></li>
					<% end %>
				<% end %>
			</ul>

		<% end %>

		<% if @user.admin? %>
			<div id="add-event">
				<div class="row">
					<div class="col-centered">
						<%= form_for @event do |f| %>
							<%= render 'shared/error_messages', object: f.object %>

							<%= f.label :day, "Add date" %>
							<%= f.date_select "day",	{ prompt: 
																						{ year: 'Year', month: 'Month', day: 'Day' },
																						order: [:month, :day, :year],
																						start_year: 2014, end_year: 2016 }, 
																					{ class: 'form-control' } %>
							<%= f.label :note %>
							<%= f.text_field :note, class: 'form-control' %>

							<%= f.submit "Add event", class: "btn btn-primary btn-add-event" %>
						<% end %>
					</div>
				</div>	
			</div>
		<% end %>
	</div>
</div>


