<% provide(:title, 'All events') %>

<h1>Reserve a spot</h1>

<div class="row">
	<div class="events-content">
		<% @events.each do |event| %>
			<% if !@user.reservations.find_by(event_id: event.id) %>
				<%= form_for @user.reservations.build(event_id: event.id)	do |f| %>
					<%= f.hidden_field :event_id, value: event.id %>
					<%= f.hidden_field :user_id, value: @user.id %>
					<div class="event-line-container">
						<div class="event-row">
							<div class="date-cell"><%= event.day.strftime("%B %-d, %Y") %></div>
							<div class="button-cell"><%= f.submit "Sign up", class: "btn btn-primary" %></div>
							<div class="button-cell"></div>
						</div>
					</div>
				<% end %>
			<% else %>
				<%= form_for @user.reservations.find_by(event_id: event.id),
					html: { method: :delete } do |f| %>
					<%= f.hidden_field :event_id, value: event.id %>
					<%= f.hidden_field :user_id, value: @user.id %>
					<div class="event-line-container">
						<div class="event-row">
							<div class="date-cell"><%= event.day.strftime("%B %-d, %Y") %></div>
							<div class="button-cell"><%= f.submit "Signed up", class: "btn btn-primary disabled" %></div>
							<div class="button-cell"><%= f.submit "Cancel", class: "btn btn-cancel" %></div>
						</div>
					</div>
				<% end %>
			<% end %>

			<ul class="event-user-list">
			<% if !event.users.empty? %>
				<% event.users.each do |u| %>
					<li><%= u.name %></li>
				<% end %>
			<% end %>
			</ul>

		<% end %>
		
	</div>
</div>












<!--
<div id="all-events">
  <h1>All events</h1>

  <ul class="events">
  <% @events.each do |event| %>
		<li class="date-section"><%= event.day.strftime("%B %-d, %Y") %></li>
			<ul class="event-user-list">
				<% if !event.users.empty? %>
					<% event.users.each do |user| %>
						<li><%= user.name %></li>
					<% end %>
				<% end %>
			</ul>
	<% end %>
	</ul>

	<p>
		<%= link_to "Add event", events_new_path %>
	</p>
</div>
-->
