<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag "application", media: "all",
																						"data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header id="top">
			<h1>
				<%= image_tag "acorn-left.png", size: "42x42" %>
				Cafe Oakville
				<%= image_tag "acorn-right.png", size: "42x42" %>
			</h1>
		</header>

		<nav id="main-nav">
			<ul>
				<%= nav_link_to "Home", root_path, {}, wrapper: 'li' %>	
				<%= nav_link_to "Menu", menu_path, {}, wrapper: 'li' %>	
				<%= nav_link_to "Sign in", signin_path, {}, wrapper: 'li' %>	
				<%= nav_link_to "Reserve", '#', {}, wrapper: 'li' %>
				<%= nav_link_to "FAQ's", '#', {}, wrapper: 'li' %>
				<%= nav_link_to "Our roots", about_path, {}, wrapper: 'li' %>	
			</ul>
		</nav>

		<%= yield %>

		<footer>
			©2014 Cafe Oakville <br>(not actually copyrighted)
		</footer>

	</body>
</html>
